body {
  background-color: #e1e1e1;
  margin: 20px 50px;
}

.App {
  text-align: center;
}

.navbar-brand {
  color: white;
}

.navbar-dark {
  background-color: #000;
  color: white;

}

.check-in{
  display: flex;
  justify-content: space-around;
}

.required-members{
  width: 40%;
}

.checked-in-members{
  width: 40%;
}

.member-box{
  width: 100%;
  border-radius: 6px;
  background-color: #5a323a;
  color: white;
  padding: 3px 0;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}


.member-box:hover{
  scale: 1.1;
}

.name{
  padding-left: 20px;
}

.roles{
  padding-right: 20px;
}

.time-picker{
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
}
.form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkbox{
  margin: 0 10px;
}